<!doctype html>
<html lang="en" ng-app="bitpaydemo">
<head>
  <base href="{{baseUrl}}" />
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Community Store</title>
  <link rel="stylesheet" href="static/js/libs/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="static/js/libs/bootstrap/dist/css/bootstrap-theme.min.css">
  
  <style>
    body { padding-top: 70px; }
  </style>

  <script src="static/js/libs/angular/angular.js"></script>
  <script src="static/js/libs/angular-animate/angular-animate.js"></script>
  <script src="static/js/libs/angular-ui-router/release/angular-ui-router.min.js"></script>
  <script src="static/js/libs/angular-resource/angular-resource.js"></script>
  <script src="static/js/libs/ngstorage/ngStorage.min.js"></script>
  <script src="static/js/libs/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="static/js/libs/qrcode-generator/js/qrcode.js"></script>
  <script src="static/js/libs/qrcode-generator/js/qrcode_UTF8.js"></script>
  <script src="static/js/libs/angular-qrcode/angular-qrcode.js"></script>

  <script src="static/js/config.js"></script>
  <script type="application/javascript">
        configGen('bitpayDemo.config', 'bitpayDemoConfig', 
          {
            DEBUG: true,
            API : { URL : "/demoservice/api" }
          }
        );
    </script>

  <script src="static/js/app.js"></script>
  <script src="static/js/services/api.js"></script>
  <script src="static/js/services/session.js"></script>
  <script src="static/js/directives/nav.js"></script>
  <script src="static/js/controllers/indexCtrl.js"></script>
  <script src="static/js/controllers/productAddCtrl.js"></script>
  <script src="static/js/controllers/buyCtrl.js"></script>
</head>
<body role="document">
    <div ui-view class="view-frame"></div>
</body>
</html>
