<!DOCTYPE html>
<html>
<head>
  <title>Demo Bitpay Service</title>
</head>

<body>
  <h1>Welcome!</h1>
  <h2>Invoice</h2>

  <form method="post" action="demoservice/gopay">
    Amount: <input type="text" name="amount"/> BTC <input type="submit" value="Generate Invoice" />
  </form>
</body>

</html>